.btn-cart {
  border: 0;
  background-color: #ffdb15;
}

.total {
  margin-right: 50px;
  font-size: 22px;
  font-weight: bold;
}

.container-categories {
  background-color: #d7bc1f;
  display: flex;
  justify-content: space-around;
  color: rgb(6, 26, 245);
  font-weight: bold;
  padding: 10px 0;
}

.container-categories input[type=radio]{
  display: none;
}

.text-search-header {
  height: 20px;
}

.cart-shop-header {
  color: black;
  font-weight: 700;
  font-size: 12px;
  margin-top: -15px;
}

footer {
  width: 100%;
  height: 40px;
  color: white;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

footer p {
  padding: 6px;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}